.containerRow{
    display: flex;
    justify-content: space-between;
    gap : 20px;
    width: 100%;
    max-width: 1025px;
}
.row{
    flex:1;
}
.RowImage{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
.sousRow{
    padding: 7px;
}
.rowH3{
    font-weight: bold;
    font-size: 18px;
    color: #000;
}
.rowsub{
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.527);
}
.container{
    width: 100%;
    margin-top: 10px;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.containerItem{
    position: relative;
    color : #fff;
    overflow: hidden;
    object-fit: cover;
    height: 250px;
}
.containerImage{
    width: 100%;
}

.containerTitle{
    position: absolute;
    bottom : 20px;
    left : 20px;
    background: #00000038;
    padding: 10px;
}

@media screen and (max-width: 992px){
    .containerRow, .container{
        max-width: 900px;
    }
    .containerTitle{
        position: absolute;
        bottom : 50px;
        left : 20px;
    }
}

@media screen and (max-width: 768px){
    .containerRow{
        width: 700px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);    
    }
    .container{
        width: 700px;
    }
    .containerTitle{
        position: absolute;
        bottom : 60px;
        left : 20px;
    }
    .containerH1,.containerH2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 568px){
    .containerRow{
        width: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);    
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
        margin: 0 auto;
    }
    .containerImage{
        width: 70%;
    }
}