.navbar{
    height: 50px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarContainer{
    width: 1025px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    color : #fff;
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
a{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
i{
    padding-right: 10px;
    font-size: 15px;
}
.iconI{
    background-color:#fff;
    color: brown;
    padding: 10px;
}
.iconI:hover{
    border: 1px solid #fff;
    color: #fff;
    background: brown;
}

@media screen and (max-width: 992px){
    .navbarContainer{
        width: 900px;
        
    }
}
@media screen and (max-width: 768px){
    .navbarContainer{
        width: 700px;
        
    }
}
@media screen and (max-width: 568px){
    .navbarContainer{
        max-width: 500px;
    }
}